header{
    background-color: rgb(235, 200, 180);
    position: fixed;
    width: 100%;
    z-index: 1;
}

.menu{
    margin: 0px 10px;
    display: inline-block;
}

.linha_menu {
    width: 35px;
    height: 5px;
    background-color: rgb(80, 0, 0);
    margin: 6px 0;
}

h1{
    text-align: center;
    display: inline;
    position: absolute;
    left: 42%;
    font-weight: bold;
    font-size: 2em;
}

body{
    background-color: rgb(250, 240, 240);
    padding: 0px;
}

div{
    text-align: center;
}

.imagem_principal{
    width: 60%;
    height: auto;
    text-align: center;
    top: 200px;
}

.roda_icones{
    position: 0 50%;
}

.icone{
    width: 100px;
    height: 100px;
}

.topicos {
    position: absolute;
    top: 100%;
}

#fatores_de_risco{
    position: absolute;
    top: 200%;
}

footer{
    position: fixed; 
    bottom: 0%; 
    right: 0%;
}

.logo_univas{
    width: 50px;
    height: 50px;
}